<section>
  <div class="page-header">
    <h1>Sensors</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="sensor in vm.sensors" ui-sref="sensors.view({ sensorId: sensor.sensorId })" class="list-group-item">
      <small class="list-group-item-text">
        Updated
        <span ng-bind="sensor.updated | date:'mediumDate'"></span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="sensor.name"></h4>
      <p class="list-group-item-text" ng-bind="sensor.value"></p>
      <div class="progress-bar" role="progressbar"  aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" ng-style="{width : ( 50 + '%' ) }" />
    </a>
  </div>
</section>
